<?xml version="1.0"?>
<config>
    <modules>
        <NulAsh_CmsBlog>
            <version>1.0.1</version>
        </NulAsh_CmsBlog>
    </modules>
    <global>
        <models>
            <cmsblog>
                <class>NulAsh_CmsBlog_Model</class>
                <resourceModel>cmsblog_resource</resourceModel>
            </cmsblog>
            <cmsblog_resource>
                <class>NulAsh_CmsBlog_Model_Resource</class>
                <entities>
                    <record>
                        <table>cmsblog_record</table>
                    </record>
                </entities>
            </cmsblog_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <nulash_cmsblog>
                        <class>NulAsh_CmsBlog_Controller_Router</class>
                        <method>initControllerRouters</method>
                        <type>singleton</type>
                    </nulash_cmsblog>
                </observers>
            </controller_front_init_routers>
        </events>
        <resources>
            <cmsblog_setup>
                <setup>
                    <module>NulAsh_CmsBlog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </cmsblog_setup>
        </resources>
        <blocks>
            <cmsblog>
                <class>NulAsh_CmsBlog_Block</class>
            </cmsblog>
        </blocks>
        <helpers>
            <cmsblog>
                <class>NulAsh_CmsBlog_Helper</class>
            </cmsblog>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nulash_cmsblog before="Mage_Adminhtml">NulAsh_CmsBlog_Adminhtml</nulash_cmsblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsblog>
                    <file>cmsblog.xml</file>
                </cmsblog>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cmsblog>
                    <file>cmsblog.xml</file>
                </cmsblog>
            </updates>
        </layout>
        <routers>
            <cmsblog>
                <use>standard</use>
                <args>
                    <module>NulAsh_CmsBlog</module>
                    <frontName>cmsblog</frontName>
                </args>
            </cmsblog>
        </routers>
    </frontend>
</config>
