<?xml version="1.0"?>
<config>
    <modules>
        <NulAsh_CmsBlog>
            <version>1.0.0</version>
        </NulAsh_CmsBlog>
    </modules>
    <global>
        <models>
            <cmsblog>
                <class>NulAsh_CmsBlog_Model</class>
                <resourceModel>cmsblog_resource</resourceModel>
            </cmsblog>
            <cmsblog_resource>
                <class>NulAsh_CmsBlog_Model_Resource</class>
                <entities>
                    <record>
                        <table>cmsblog_record</table>
                    </record>
                </entities>
            </cmsblog_resource>
        </models>
        <resources>
            <cmsblog_setup>
                <setup>
                    <module>NulAsh_CmsBlog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </cmsblog_setup>
        </resources>
        <blocks>
            <cmsblog>
                <class>NulAsh_CmsBlog_Block</class>
            </cmsblog>
        </blocks>
        <helpers>
            <cmsblog>
                <class>NulAsh_CmsBlog_Helper</class>
            </cmsblog>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nulash_cmsblog before="Mage_Adminhtml">NulAsh_CmsBlog_Adminhtml</nulash_cmsblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsblog>
                    <file>cmsblog.xml</file>
                </cmsblog>
            </updates>
        </layout>
    </adminhtml>
</config>
